name: Build and test

on:
  push:
    branches:
      - ae/test-c-api-manylinux.1

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_tket_c_api_manylinux:
    name: Build tket-c-api and upload to artifactory
    strategy:
      matrix:
        include:
          - os: 'ubuntu-24.04'
            container: 'manylinux_2_28_x86_64'
            profile: 'linux-x86_64-gcc14'
          - os: 'ubuntu-24.04-arm'
            container: 'manylinux_2_28_aarch64'
            profile: 'linux-armv8-gcc14'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: '0'
    - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
    - name: Set up container
      run: docker create --name linux_build -i -v /:/host quay.io/pypa/${{ matrix.container }}:latest /bin/bash
    - name: Copy source
      run: docker cp . linux_build:/tket/
    - name: Start container
      run: docker start linux_build
    - name: Build and upload tket-c-api
      run: docker exec \
        -e CONAN_PROFILE=${{ matrix.profile }} \
        -e TKET_VERSION=`cat TKET_VERSION` \
        -e JFROG_ARTIFACTORY_TOKEN_3=${{ secrets.JFROG_ARTIFACTORY_TOKEN_3 }} \
        -e JFROG_ARTIFACTORY_USER_3=${{ secrets.JFROG_ARTIFACTORY_USER_3 }} \
        linux_build /bin/bash -c "/tket/.github/workflows/linuxbuildcapi"
